
<div class="btn-group" data-toggle="buttons">
  {{#with schedule}}
  <label class="btn btn-default {{# if (works_monday   ) }} active{{/if }} " id="schedule_item_monday">    <input name ="monday"    type="checkbox" autocomplete="off" {{# if (works_monday   ) }} checked {{/if }} >Lun</label>
  <label class="btn btn-default {{# if (works_tuesday  ) }} active{{/if }} " id="schedule_item_tuesday">   <input name ="tuesday"   type="checkbox" autocomplete="off" {{# if (works_tuesday  ) }} checked {{/if }} >Mar</label>
  <label class="btn btn-default {{# if (works_wednesday) }} active{{/if }} " id="schedule_item_wednesday"> <input name ="wednesday" type="checkbox" autocomplete="off" {{# if (works_wednesday) }} checked {{/if }} >Mer</label>
  <label class="btn btn-default {{# if (works_thursday ) }} active{{/if }} " id="schedule_item_thursday">  <input name ="thursday"  type="checkbox" autocomplete="off" {{# if (works_thursday ) }} checked {{/if }} >Gio</label>
  <label class="btn btn-default {{# if (works_friday   ) }} active{{/if }} " id="schedule_item_friday">    <input name ="friday"    type="checkbox" autocomplete="off" {{# if (works_friday   ) }} checked {{/if }} >Ven</label>
  <label class="btn btn-default {{# if (works_saturday ) }} active{{/if }} " id="schedule_item_saturday">  <input name ="saturday"  type="checkbox" autocomplete="off" {{# if (works_saturday ) }} checked {{/if }} >Sab</label>
  <label class="btn btn-default {{# if (works_sunday   ) }} active{{/if }} " id="schedule_item_sunday">    <input name ="sunday"    type="checkbox" autocomplete="off" {{# if (works_sunday   ) }} checked {{/if }} >Dom</label>
  {{/ with }}
</div>
