
<div class="col-md-9">

  <form method="POST" action="/settings/schedule" id="company_schedule_form">
  <input type="hidden" name="user_id" value="{{employee.id}}">

  {{> user_details/breadcrumb employee=employee }}

  <div class="form-group">
    <label for="" class="control-label">Settimana lavorativa</label>

    <p class="help-block">
      {{# with schedule }}
      {{# if (is_user_specific) }}
        Il dipendente segue una settimana lavorativa <strong data-vpp="declare-user-specific-schedule">personalizzata</strong>.
      {{else}}
        Il dipendente segue la settimana lavorativa <strong><a data-vpp="link-to-company-schedule" href="/settings/general/">standard</a></strong> dell'azienda.
      {{/if}}
      {{/with}}
    </p>

    <div class="input-group">
      {{> schedule_widget }}
    </div>

  </div>
  <div class="form-group">
    <div class="pull-right">
    {{# with schedule }}
    {{# if (is_user_specific) }}
      <button type="submit" name="revoke_user_specific_schedule" class="btn btn-default">Ripristina la settimana lavorativa standard dell'azienda</button>
      <button type="submit" name="save_user_specific_schedule" class="btn btn-success">Salva modifiche alla settimana lavorativa personalizzata</button>
    {{else}}
      <button type="submit" name="save_user_specific_schedule" class="btn btn-success">Assegna settimana lavorativa personalizzata</button>
    {{/if}}
    {{/with}}
    </div>
  </div>
  </form>

</div>
